<div class="login-box">

    <div class="login-box-label">
        <div>
            <h1>Sign In</h1>
        </div>
        <div>
            {{#link-to 'business.sign-up'}}Sign Up{{/link-to}}
        </div>
    </div>

    <form>
        {{input type='text' class='input-box' value=email placeholder='Email' }}<br />
        {{input type='password' class='input-box' value=password placeholder='Password' }}<br />
    
        <div class="login-box-form-submit">
            <div class="remember-me">
                <input type="checkbox" name="remember-me" class="checkbox"/>
                <label for="remember-me">
                    Remember Me
                </label>
            </div>
            <input type="submit" class="button-gradient-square blue-gradient" value="Sign In &rarr;" {{action 'signIn' 'password'}}>
        </div>
    </form>

    {{#link-to "passwordreset"}}Forgot your password?{{/link-to}} 
    <div class="login-box-terms">
        <a href="#">Terms & Conditions</a>
    </div>
</div>
