<div class="product-actions">
	{{#link-to 'business.portal.store.products.add' storeId}}
	<button class="portal-button">
		Add Product
	</button>
	{{/link-to}}
</div>
<table class="items-table" id="scrollme">
	<tr class="items-table-header">
		<th style="text-align:left;">Name</th>
		<th style="text-align:right;">Price</th>
	</tr>

	{{outlet}}
	{{#if model}}

		{{#each model as |product|}}
			{{#link-to "business.portal.store.products.show" storeId product}}
				<tr>
				    <td>{{ product.name }}</td>
				    <td>${{ product.price }}</td>
			  	</tr>
		  	{{/link-to}}
		{{/each}}
	{{/if}}
</table>

	{{#unless model}}
				{{loading-animation}}
	{{/unless}}