#business-portal-background
    width: 100vw
    height: 100vh

.business-portal-nav
	height: 100vh
	width: 300px

.business-portal-signout
	text-align: right

.business-portal-nav-heading
	font-family: GothamRounded-Medium

.business-portal-nav-container
	padding-top: 50px
	padding-left: 20px
	padding-right: 20px
	height: 100vh

.business-portal-name
	font-family: GothamRounded-Bold

.business-portal-signout
	text-decoration: underline
	color: #D6D3D3

.business-portal-home
	margin-top: 80px
	padding-bottom: 5px
	border-bottom: 1px solid rgba(255,255,255,0.40)