#business-portal-background
    width: 100vw
    height: 100vh
    display: flex
    background: #fff

/* Navigation bar in business portal */
.business-portal-nav
	height: 100vh
	width: 200px
	overflow: auto
	min-width: 200px
	a
		color: #fff
		font-family: GothamRounded-Book

.business-portal-nav-heading
	font-family: GothamRounded-Medium


.business-portal-nav-container
	padding-top: 50px
	padding-left: 20px
	padding-right: 20px
	height: 80vh

.business-portal-personal-info
    width: 100%
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

.business-portal-name
	font-family: GothamRounded-Bold

.business-portal-signout
	text-decoration: underline
	color: #D6D3D3
	a
		color: #D6D3D3

.business-portal-home
	margin-top: 50px
	padding-bottom: 5px
	border-bottom: 1px solid rgba(255,255,255,0.40)

.business-portal-links
	padding-top: 30px

.business-portal-links-store
	padding-bottom: 30px
	list-style-type: none

.store-list-links 
	padding: 0px
	ul
		list-style-type: none

/* Business Portal Contents */
.business-portal-contents
	width: 100vw
	height: 80vh
	padding: 10vh
	font-size: 17px
	line-height: 26px
	color: #525f7f
	overflow: auto
	@media screen and (max-width: $small-laptop-screen)
		padding-top: 50px
        padding-left: 25px

.business-portal-stores
	display: flex
	flex-wrap: wrap

.business-portal-stores--store
	background-color: #fff
	width: 400px
	height: 200px
	margin: 2.5%
	background: #fff
	box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07)
	border-radius: 4px
	align-items: center
	justify-content: center
	display: flex

	a
		color: #525f7f
		font-size: 25px

.business-portal-stores--store-address
	font-size: 12px !important

.add-store
	box-shadow: none
	background: none

.items-table
	width: 100%
	background-color: #fff
	border-spacing: 0px
	font-size: 14px
	color: #000
	td
		width: 50%
	tr
		border-bottom: 1px solid #bec3c8
		display: flex
		line-height: 48px
		/*height: 48px*/
		vertical-align: middle
		overflow: hidden
		white-space: nowrap
		padding-left: 8px
		padding-right: 8px
	tr:hover
		background: #e9f4f9
	th
		color: #32373c
		width: 100%
	a
		color: #000
		font-family: GothamRounded-Book

.items-table-header
	background-color: #f0f1f2
	border-top: 1px solid #bec3c8

.items-table-header:hover
	background: #f0f1f2 !important

.portal-button
	cursor: pointer
	font-family: GothamRounded-Medium
	font-size: 14px
	background: rgba(0, 136, 232, 1)
	border: none
	color: #fff
	display: inline-block
	height: 40px
	min-width: 80px
	padding: 0 16px
	border-radius: 3px
	line-height: 38px
	text-align: center
	user-select: none
	margin-bottom: 8px
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out

.portal-button:hover
	background-color: rgba(0, 136, 232, 0.7)


.inactive-row
	display: none !important

.active-row
	/*height: 500px !important*/
	overflow: auto !important
	flex-direction: column

.receipt-items
	width: 100%

.receipt-total
	width: 100%

.product-table-data
	width: inherit !important

.product-table-row
	justify-content: space-between

.form-table 
	border: 1px #bec3c8 solid
	border-width: 1px 1px 0 1px
	-webkit-transition: border-color 0.2s ease-in-out
	transition: border-color 0.2s ease-in-out
	position: relative

.form-table 
	position: relative
	.form-row:first-of-type 
		border-width: 0

.form-row 
	display: -webkit-box
	display: -ms-flexbox
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: flex

.form-field 
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: flex
    width: 100%


.form-field__label 
	display: block
	min-height: 47px
	padding: 13px 24px
	color: #32373c
	font-size: 14px
	line-height: 1.5
	border-bottom: 1px #bec3c8 solid
	position: relative
	width: calc(100% - 200px)
	width: 200px
	font-weight: 500
	background-color: #f0f1f2
	cursor: default

.form-field__content 
    border-bottom: 1px #bec3c8 solid
    position: relative
    width: calc(100% - 200px)


.form-field__input 
    display: block
    min-height: 47px
    padding: 13px 24px
    color: #32373c
    font-size: 14px
    line-height: 1.5
    width: 100%
    background-color: transparent
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 0
    border: 0

.form-row-buttons
	margin-top: 30px