.error{
	display:none;
}
.success{
	display:none;
}
.password-container{
	height:500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(images/background-slope.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}
.password-reset-form{
	color: #585858;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    h1 {
		    color: #737373;
		    font-size: 16px;
	}

}