<div class="business-wrapper blue-background">
    {{navigation-bar-business session=session}}        
	<section id="business-hero">
		<article>
			<h2>
			    Pay less for labor.
			</h2>
			<p>
				Lessen the burden of your staff by allowing your customers to
				check themselves out. After they're done, briefly look over their
				digital receipt. Turn 5 minutes into 5 seconds.
			</p>
			<p>
				<a href="#how-scannly-works">Learn How</a>
			</p>
		</article>

		<article id="signup">
			<div class="signup-form mc_embed_signup">
		      <h1>Request an Invite</h1>
		 		<form action="//scannly.us15.list-manage.com/subscribe/post?u=62635d5a3bf3273aeeea1ecfd&amp;id=4a7a89bcee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				  <div class="signup-form-fields mc_embed_signup_scroll">
				        <div>
				            <input 
				                type="email" 
				                value="" 
				                name="EMAIL" 
				                class="required email input-box" 
				                id="mce-EMAIL"
				                placeholder='Email' 
				                required="required">

				            <input 
				                type="text" 
				                value="" 
				                name="FNAME" 
				                class="required input-box" 
				                id="mce-FNAME"
				                placeholder="First name" 
				                required="required">

				            <input 
				                type="text" 
				                value="" 
				                name="LNAME" 
				                class="required input-box" 
				                id="mce-LNAME"
				                placeholder="Last name" 
				                required="required">

				            <input 
				                type="text" 
				                value="" 
				                name="MMERGE3" 
				                class="required input-box" 
				                id="mce-MMERGE3"
				                placeholder="Business name" 
				                required="required">
				        </div>   </div>
				  <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button button-gradient-square blue-gradient">
  				</form>
		    </div>
		</article>    
	</section>

	<section id="how-scannly-works">
		<h2 class="section-title">HOW SCANNLY WORKS</h2>
		<div id="how-it-works">
		<div class="how-it-works--step">
			<div class="how-it-works--step-number" style="padding-right: 15px;">
				1. 
			</div>
			<div class="how-it-works--step-descr">
				<span class="how-it-works--step-highlight">
					Customer scans items
				</span><br />
				 in their cart by taking a picture of the barcodes with the Scannly app on their phone.
			</div>
		</div>

		<div class="how-it-works--step">
			<div class="how-it-works--step-number">
				2. 
			</div>
			<div class="how-it-works--step-descr">
				<span class="how-it-works--step-highlight">
					Customer checks out 
				</span><br />
				using the payment method attached to their Scannly account. Payment is then issued to your Scannly account.
			</div>
		</div>

		<div class="how-it-works--step">
			<div class="how-it-works--step-number">
				3.  
			</div>
			<div class="how-it-works--step-descr">
				<span class="how-it-works--step-highlight">
					Briefly look over their receipt
				</span><br />
				on their phone or in your business app to confirm the purchase was made. 
			</div>
		</div>
		</div>
	</section>

	<section id="price-of-service" class="multiblue-background">
		<div class="info-section">

			<div class="info-section-heading">
				<h2>PAY AS YOU GO</h2>
			</div>

			<div class="price">
				<div class="price-rate">
					<span class="percent">
						3.9%
					</span>
					<span class="plus">
						+
					</span>
					<span class="cents">
						30¢
					</span>
				</div>
				<div class="price-description">
					per successful charge
				</div>
			</div>

			
			<ul class="info-features">
				<li>No setup, monthly, or hidden fees</li>
				<li>Pay only for what you use</li>
				<li>Real-time fee reporting</li>
			</ul>

			{{#link-to 'business.sign-up' class='info-footer blue-gradient'}} 
				CREATE ACCOUNT →
			{{/link-to}}

		</div>
	</section>

	<article id="signup" class="mobile-signup">
			<div class="signup-form mc_embed_signup">
		      <h1>Request an Invite</h1>
		 		<form action="//scannly.us15.list-manage.com/subscribe/post?u=62635d5a3bf3273aeeea1ecfd&amp;id=4a7a89bcee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				  <div class="signup-form-fields mc_embed_signup_scroll">
				        <div>
				            <input 
				                type="email" 
				                value="" 
				                name="EMAIL" 
				                class="required email input-box" 
				                id="mce-EMAIL"
				                placeholder='Email' 
				                required="required">

				            <input 
				                type="text" 
				                value="" 
				                name="FNAME" 
				                class="required input-box" 
				                id="mce-FNAME"
				                placeholder="First name" 
				                required="required">

				            <input 
				                type="text" 
				                value="" 
				                name="LNAME" 
				                class="required input-box" 
				                id="mce-LNAME"
				                placeholder="Last name" 
				                required="required">

				            <input 
				                type="text" 
				                value="" 
				                name="MMERGE3" 
				                class="required input-box" 
				                id="mce-MMERGE3"
				                placeholder="Business name" 
				                required="required">
				        </div>   </div>
				  <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button button-gradient-square blue-gradient">
  				</form>
		    </div>
	</article>
	
	<section id="subscribe">
		<div class="subscribe-container">
			<div id="mc_embed_signup">
				<h2>Sign Up for the Newsletter</h2>
				<p>
					Be informed about app updates and when Scannly will be available in stores near you!
				</p>
				<form action="//scannly.us15.list-manage.com/subscribe/post?u=62635d5a3bf3273aeeea1ecfd&amp;id=a738ffb70b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					
					<input type="email" 
						id="mce-EMAIL"
						name="EMAIL"
						value=""
						class="input-gradient-round required email blue-border" 
						placeholder="Email"
						required>
					<input type="text" 
						id="mce-NAME"
						name="NAME"
						value=""
						class="input-gradient-round required blue-border" 
						placeholder="Name"
						required>
					<input type="submit" 
						class="button-gradient-round button blue-gradient" 
						value="Subscribe" 
						name="subscribe" 
						id="mc-embedded-subscribe">
				</form>
			</div>
		</div>
	</section>

	{{intercom-io}}
	{{main-footer}}
</div>
