{{navigation-bar session=session}}
<section id="hero">
    <div class="hero-product-image">
	</div>
	<div class="hero-product-descr">
	    <div class="hero-product-descr-text">
	        <h3>
	        	No more lines, forever.
	        </h3>
			Scannly is self-checkout through your phone. Check into your favorite grocery store through the app, scan the items in your cart using your phone, and check out all in one place.<br />
			<a href="https://goo.gl/forms/N3aCtcfnSDwLJ5AM2" target="_blank">
				<img class="button-mobile-download"src="assets/images/download-android.png">
			</a>
		</div>
	</div>
</section>

<section id="subscribe">
	<div class="subscribe-container">
		<div id="mc_embed_signup">
			<h2>Sign Up for the Newsletter</h2>
			<p>
				Be informed about app updates and when Scannly will be available in stores near you!
			</p>
			<form action="//scannly.us15.list-manage.com/subscribe/post?u=62635d5a3bf3273aeeea1ecfd&amp;id=a738ffb70b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				
				<input type="email" 
					id="mce-EMAIL"
					name="EMAIL"
					value=""
					class="input-gradient-round required email" 
					placeholder="Email"
					required>
				<input type="text" 
					id="mce-NAME"
					name="NAME"
					value=""
					class="input-gradient-round required" 
					placeholder="Name"
					required>
				<input type="submit" 
					class="button-gradient-round button" 
					value="Subscribe" 
					name="subscribe" 
					id="mc-embedded-subscribe">
			</form>
		</div>
	</div>
</section>
	{{intercom-io}}

{{main-footer}}
